.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #F5F9FA;
}

.list-view {
     -fx-background-insets: 0;
     -fx-padding: 0;
     -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell:filled:hover{
    -fx-background-color: #00bfbf;
}

.list-cell:filled:hover .label{
    -fx-text-fill: #f7f7f7;
}

.list-cell:filled:selected{
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected .label{
    -fx-text-fill: #f7f7f7;
}

.list-cell:empty{
    -fx-background-color: #F5F9FA;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
